@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.login-btn {
    text-align: center;
    padding-top: 3%;
}
.signin-btn {
    text-align: center;
    width: 100%;
    margin: 1% 1% 1% 0%;
    height: 9vw;

}

.login-btn input[type=submit] {
    width: 55%;
    font-size: 3vw;
    padding-top: 2%;
    padding-bottom: 2%;
    text-transform:uppercase;
}
input[type=submit].signin-btn {
    color: #ffffff;
    background: #2D3030;
    border: 0 none;
    -webkit-border-radius: 5px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.signin-btn input[type=submit] {
    width: 100%;
    font-size: 4vw;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 3vw;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form-buttons {
    margin-top: 3%;
}

.login-forgot-password {
    font-size: 3vw;
    text-align: center;

}

.login-forgot-password a {
    text-decoration: none;
    color: #6cc0c8
}